DEV_MODE=true
MONGO_URI=mongodb://localhost:27017
BASE_DB_NAME={{ package_name }}
JWT_SECRET=change_me
JWT_ALGORITHM=HS256
JWT_EXPIRATION=32400
REFRESH_TOKEN_EXPIRATION=2592000
AUTH_COOKIE_NAME={{ package_name }}_access_token
REFRESH_COOKIE_NAME={{ package_name }}_refresh_token
COOKIE_SECURE=false
COOKIE_HTTPONLY=true
COOKIE_SAMESITE=lax
COOKIE_DOMAIN=
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_me_admin_password
ADMIN_NAME=Admin
